html{
    background: rgb(240,225,114);
    background: linear-gradient(0deg, rgba(240,225,114,1) 0%, rgba(159,17,140,1) 100%);
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}
.titulo{

    
    border-radius: 80px;
    background: linear-gradient(0deg, rgb(0, 195, 255) 0%, rgb(30, 255, 0) 100%);
    text-align: center;


}
.tabla{


    text-align: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 30px;
    
    background: linear-gradient(0deg, rgb(0, 195, 255) 0%, rgb(30, 255, 0) 100%);
    
    padding: 20px;
    margin-bottom: 20px; /* Agregar margen entre filas */
    border: 4px solid #f30000; /* Agregar borde alrededor de cada tabla */
}
.producto{


    text-align: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 30px;
    
    background: linear-gradient(0deg, rgb(0, 195, 255) 0%, rgb(30, 255, 0) 100%);
    
    padding: 20px;
    margin-bottom: 20px; /* Agregar margen entre filas */
    border: 4px solid #f30000; /* Agregar borde alrededor de cada tabla */
}

img{
    border: 4px solid #009de6; /* Agregar borde alrededor de cada tabla */
    border-radius: 20px;
    align-items: center;
    width: 200px;
    height: auto;
}

.p1{

    color: aqua;

}


.pie{
    border: 4px solid #f30000; /* Agregar borde alrededor de cada tabla */
    background: linear-gradient(0deg, rgb(239, 255, 98) 0%, rgb(129, 225, 255) 100%);
}