html{
    background-image:-webkit-image-set("iconos/logo.png");
    background: rgb(255, 255, 255);
    /*background: linear-gradient(0deg, rgba(240,225,114,1) 0%, rgb(251, 255, 0) 100%);*/
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    
}

.titulo {
    flex: 1; /* Esto hace que el título ocupe todo el espacio disponible */
    margin-right: 10px; /* Esto añade un espacio entre el título y el botón */
    border-radius: 80px;
    background-color: chocolate;
    text-align: center;
  }
  .titu{
    
    margin: 50px;
    align-items: center;
    height: 100x;
    flex: 1; /* Esto hace que el título ocupe todo el espacio disponible */
    margin-right: 10px; /* Esto añade un espacio entre el título y el botón */
    border-radius: 80px;
    background-color: chocolate;
    text-align: center;
    transition: transform 0.3s ease; /* Agregar transición para un efecto suave */
  }


  .img_wonka{
    margin-left: 10px;
    height: 100px ;
    width: auto;
    transition: 0.3s;

  }
  .img_wonka:hover{
    
    transform: scale(1.15);
    

  }
  .btn_bus{
    background-color: rgb(233, 151, 93);

  }


  .titulo_h1{
    font-size: 35px;
    margin-left: 15px;
    color: rgb(255, 203, 165);

  }
  .busqueda{
    margin-left: 8%;
  

  }
  .img_btn{
    height: 30px;
    
  }
  .img_rb{
    height: 150px;
    width: auto;
   border: 4px solid red ;
   border-radius: 10%;
  }
  .inp_bus{
    background-color: rgb(233, 151, 93);
    height: 20px;
    transition: transform 0.3s ease; /* Agregar transición para un efecto suave */
    margin-bottom: 12px;
  }
  .inp_bus:hover {
    transform: scale(1.15); /* Hacer que el elemento crezca un poco al pasar el ratón */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Agregar una sombra al elemento */
  }
  

  .name_tb{
    color: #001988;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 20px;

  }
  .logo_img{

    height: 55px;
    width: 65px;
    transition: transform 0.3s ease; /* Agregar transición para un efecto suave */


  }
  .logo_img:hover {
    transform: scale(1.45); /* Hacer que el elemento crezca un poco al pasar el ratón */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Agregar una sombra al elemento */
  }

.divcen{
    position: relative;
    align-items: center;
    
    display: flex;
    flex-wrap: wrap;
 


}
.fon {
  position: absolute;
  height: 200px;
  width: 200px;
}

/* Transformaciones específicas para cada imagen */

.flex_logo{
    margin-left: 400px;
    display: flex;
    align-items: center;
    margin: 2%;
    margin-bottom: 12px;
}
.flex{
    align-items: center;
    flex-grow: 1;
    margin-left: 20%;


}
.tabla{ 
    margin: auto auto auto;
    align-items: center;
    margin-top: 60px;
    margin-right: 10%;
    text-align: center;
    align-items: center;


    max-width: 300px;
    max-height: auto;
    
    border-radius: 30px;
    
    background: linear-gradient(0deg, rgb(236, 205, 231) 0%, rgb(236, 193, 227) 100%);
    
    padding: 20px;
    margin-bottom: 20px; /* Agregar margen entre filas */
    border: 4px solid #1b1818; /* Agregar borde alrededor de cada tabla */
    transition: transform 0.3s ease; /* Agregar transición para un efecto suave */
}
.flex_tb{
    margin: auto auto auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}
.tabla_tb {
  z-index: 1;
  margin: auto auto auto;
  
  margin-bottom: 30px;
  align-items: center;
  text-align: center;
  height: auto;
  border-radius: 30px;
  background-color:coral;
  padding: 20px;
  border: 4px solid #0e0c0c;
  transition: transform 0.3s ease; /* Agregar transición para un efecto suave */
}

.tabla_tb:hover {
  transform: scale(1.15); /* Hacer que el elemento crezca un poco al pasar el ratón */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Agregar una sombra al elemento */
}
.tabla:hover {
  transform: scale(1.15); /* Hacer que el elemento crezca un poco al pasar el ratón */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Agregar una sombra al elemento */
}
.producto{


    text-align: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 30px;
    

    
    padding: 20px;
    margin-bottom: 20px; /* Agregar margen entre filas */
    border: 4px solid #f30000; /* Agregar borde alrededor de cada tabla */
}

.tabla_img{
    border: 4px solid #009de6; /* Agregar borde alrededor de cada tabla */
    border-radius: 20px;
    align-items: center;
    width: 200px;
    height: 200px;
}

.p1{

    color: aqua;

}
footer{
  width: 98%;
  position: absolute;
  z-index: 1;
    align-items: center;
    text-align: center;
}

.pie{
    margin-top: 10%;
    align-items:center;
    border: 4px solid #0f0e0e; /* Agregar borde alrededor de cada tabla */
    background-color:#d2691e;
}
.git{
    width: 60px;
    height: auto;
    align-items: center;
    margin-left: 20px;
    margin-right: 20pk;

}
.comprar{
    width: 40px;
    height: auto;
}

.btn_rellenar{
    width: 70px;
    height: 50px;
    margin: 12px;
    margin-right: 12px;
    background-color: #18aa24;
    margin-top: 12px;
}
.unidades {
    
    
    display: block; /* Para que el label aparezca en una línea separada */
    margin-bottom: 5px; /* Espacio entre el label y el input */
}

#unidades_a_comprar{
    margin: 12px;
    width: 50%;
    height: 25px;

}
#unidades_a_agregar{
    margin: 12px;
    width: 50%;
    height: 25px;

}

.btn_comprar {
    width: 70px;
    height: 50px;
    margin: 12px;
    margin-right: 12px;
    background-color: rgba(0, 255, 21, 0.933);
    margin-top: 12px;
}
.btn_var {
    width: 70px;
    height: 50px;
    margin: 12px;
    margin-right: 12px;
    background-color: rgba(255, 0, 0, 0.933);
    margin-top: 12px;
}



.volver {
    align-items: center;
    height: 50px;
    width: 50px;
  }
  
  .volver_img {
    height: 40px;
    width: 40px;
  }
  #car{
    margin-top: 15%;
    margin-right: 20px;
  }
  .boton {
    display: flex;
    align-items: center; /* Esto asegura que los elementos estén alineados verticalmente */
  }
  .error_ms{
    font-size: 25px;
  }
  .error_img{
    height: 500px;
    width: auto;
  }
  .div_error{
    display: flex;

  }
  .tipo_b {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 35px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #03c914; /* Cambia este color al verde deseado */
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #66bb6a; /* Cambia este color al verde deseado */
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  .tipo_busqueda_label,
.producto_busqueda_label {
  
  display: inline-block;
  margin-left: 10px;
  font-size: 20px;
  color: #333;
}

.titu_b{
  
  display: flex;
  height: auto;
  width: 100%;

}
#B{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: red;
  font-size: 40px;
}

#WONKA{
  font-family: cursive;
  color: rgb(245, 237, 232);
  font-size: 35px;
 
}
@font-face {

  font-family: Wonka;
  src: url(font/WillyWonka.ttf);
}
.car_img{
  margin-left: 25px;
  height: 60px;
  width: auto;
}
.form_flex{
  text-align: center;
  display: flex;
  align-items: center;
  margin-left: 42.88%;
  margin-right: 50%;
}
.h_t{
  text-align: center;
}
.center{
  text-align: center;
}